services:
    astro-app:
        build:
            context: . # Use the current directory as the build context
            dockerfile: Dockerfile # Specify the Dockerfile name
        image: my-astro-project:latest # Name the built image
        container_name: my-astro-container # Name the running container
        networks:
          - caddy_net
        # labels:
        #   - "traefik.enable=true"
        #   - "traefik.http.routers.nginx.rule=Host(`www.ccce-craft.org`)"
        #   - "traefik.http.routers.nginx.emtrypoints=websecure"
        #   - "traefik.http.services.nginx.loadbalancer.server.port=80"
        #   - "traefik.http.routers.nginx.tls=true"
        # # ports:
            # Example for STATIC site (Nginx on port 80 inside container)
            # - "80:80" # Map host port 80 to container port 80
            # Example for DYNAMIC site (Node adapter on port 4321 inside container)
            # - "4321:4321" # Map host port 4321 to container port 4321
            # - "80:4321" # Map host port 80 to container port 4321 if you want access on default HTTP port
        restart: unless-stopped # Restart policy
# 
networks:
    caddy_net:
        external: true
